<mat-card>
  <form (submit)="onSalvarCliente(clienteForm)" #clienteForm="ngForm">
    <br>
    <div class="form-group col-md-2">
        <label for="inputCEP">Especialidade </label>
        <select id="inputEstado" class="form-control">
        <option selected>Escolha a especialidade</option>
            <option>CARDIOLOGIA</option>
        </select>
    </div>
    <br>
    <div class="form-group col-md-4">
      <label for="inputEstado">Unidade Médica </label>
      <select id="inputEstado" class="form-control">
          <option selected>Escolha uma unidade de preferência</option>
          <option>VILA LEOPOLDINA</option>
          <option>SANTANA</option>
          <option>PAULISTA</option>
      </select>
  </div>
  <br>
  <div class="form-group col-md-2">
      <label for="inputCEP">Médico(a) disponível </label>
      <select id="inputEstado" class="form-control">
      <option selected>Escolha seu Médico(a)</option>
          <option>Laysla</option>
          <option>Vini</option>
          <option>Luiz</option>
      </select>
  </div>
  <br>
    <mat-form-field>
      <input type="text" required minlength="10" matInput placeholder="Relate seus sintomas" name="nome" [ngModel]="cliente?.nome"
        #nome="ngModel" />
      <mat-error *ngIf="nome.invalid">Digite dez palavras</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button color="accent" mat-raised-button>Agendar</button>
    </mat-card-actions>
  </form>
</mat-card>
